@import url('https://fonts.googleapis.com/css2?family=Sora');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Sora", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}

.ant-table-body::-webkit-scrollbar-thumb {
  background: #d1d5db;
}

.ant-table-body::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}